<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gedbm -->
      <package
            uri="http://br.cefet.rj.mda.gedbm"
            class="gedbm.GedbmPackage"
            genModel="model/gedbm.genmodel"/>
   </extension>

</plugin>
